body{
    background-color: rgba(75, 180, 33, 0.692);
    font-size: 20px;
    padding: 40px;
    text-align: center;
}
.white-box {
  background: rgb(52, 107, 38);
  border-radius: 10px;
  display: inline-block;
  width: 80%;
  height:700px;
}
.title{
   color: #DDBC95; 
}

.game{
  background-color: black;
    color: #DDBC95;
    font-size: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: solid 5px #B38867;
    padding: 30px;
    margin: 30px;
}
#start{
  background-color: rgba(43, 255, 0, 0.404);
  color: #FFFFFF;
  font-size: 30px;
  margin: 30px;
}
#score{
  text-align: left;
  font-size: 25px;
}
#reset{
  font-size: 30px;
  color: #FFFFFF;
  background-color: #B38867;
  margin: 30px;
  
}
